.history__item-date {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.history__item-date_info {
    display: flex;
}

.history__item-date_icon {
    margin-right: 5px;
    opacity: 0.3;
}

.history__item-date_text {
    font-size: 13px;
    line-height: 16px;
    opacity: 0.5;
    margin: 0;
}

@media (max-width: 768px) {
    .history__item-date {
        flex-direction: row;
        justify-content: unset;
        padding-left: 25px;
    }
    .history__item-date_info:last-child {
        margin-left: 10px;
    }
}